{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sakuin (索引)</title>
  <link rel="stylesheet" href="/static/css/semantic.min.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
  <div class="ui top fixed menu">
    <div class="ui container">
      <a class="item"><i class="large browser icon"></i> Sakuin (索引)</a>
    </div>
  </div>
  <div class="ui main container">
    <div class="ui large breadcrumb">
      <a class="section" href="/">
        <i class="home icon"></i>
      </a>
      {{ range $index, $element := .Path }}
      {{ if $index }}
      <div class="divider"> / </div>
      {{ end }}
      <a class="section" href="{{ $element.Path }}">{{ $element.Name }}</a>
      {{ end }}
    </div>

    <table class="ui celled striped table">
      <thead>
        <tr>
          <th colspan="1">Name</th>
          <th colspan="1" class="collapsing">Last Modified</th>
          <th colspan="1">Size</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Files }}
        <tr>
          <td>
            <i class="{{ if .IsDir }}folder{{ else }}file outline{{ end }} icon"></i>
            <a href="{{ .Path }}">{{ .Name }}</a>
          </td>
          <td class="collapsing">{{ .Date }}</td>
          <td class="right aligned collapsing">{{ if .IsDir }} - {{ else }}{{ .Size }}{{ end }}</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/semantic.min.js"></script>
</body>
</html>
{{end}}
